In [1]:
import pandas as pd

In [28]:
df = pd.read_excel(r"C:\Users\valer\Desktop\Projects\sql\from sql\ride_6.xlsx")

In [29]:
df.head()

,ride_id,start_lat,end_lat,start_lng,end_lng,weekday_of_start,time_ready,total_count_per_day,member_casual
0,021093B18970F6DB,41.903,41.9114,-87.6313,-87.6387,Wednesday,0.0,8718.0,casual
1,029838FC8AA7BC14,41.8915,41.886,-87.6268,-87.6241,Thursday,0.0,11703.0,member
2,03B02D1649677DB6,42.001,42.008,-87.6612,-87.6655,Friday,0.0,9972.0,casual
3,0178B67CC2523EF3,41.9291,41.9528,-87.6491,-87.6500,Saturday,0.0,12910.0,casual
4,004FB7283E0E55A0,41.8892,41.8776,-87.6278,-87.6496,Monday,0.0,10745.0,member

In [30]:
df.columns

Index(['ride_id', 'start_lat', 'end_lat', 'start_lng', 'end_lng',
       'weekday_of_start', 'time_ready', 'total_count_per_day',
       'member_casual'],
      dtype='object')

In [31]:
df.dropna(inplace = True)

In [32]:
df.isna().sum()

ride_id                0
start_lat              0
end_lat                0
start_lng              0
end_lng                0
weekday_of_start       0
time_ready             0
total_count_per_day    0
member_casual          0
dtype: int64

In [33]:
df.to_excel(r"C:\Users\valer\Desktop\Projects\sql\from sql\ride_6.xlsx")

In [27]:
df.head()

,ride_id,start_lat,end_lat,start_lng,end_lng,weekday_of_start,time_ready,total_count_per_day
0,021093B18970F6DB,41.903,41.9114,-87.6313,-87.6387,Wednesday,0.0,8718.0
1,029838FC8AA7BC14,41.8915,41.886,-87.6268,-87.6241,Thursday,0.0,11703.0
2,03B02D1649677DB6,42.001,42.008,-87.6612,-87.6655,Friday,0.0,9972.0
3,0178B67CC2523EF3,41.9291,41.9528,-87.6491,-87.6500,Saturday,0.0,12910.0
4,004FB7283E0E55A0,41.8892,41.8776,-87.6278,-87.6496,Monday,0.0,10745.0